*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/***********************************
LAVORO DESKTOP FIRST
********************************** */
body{
    position: relative;
    font-family: sans-serif;
}


header{                                          /* HEADER */
    background-color: #080B12;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    
}

.button_upgrade{                           /* BOTTONE UPGRADE */       
    text-transform: uppercase;
    margin: 20px 20px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 10px;
    cursor: pointer;


}
.button_upgrade:hover{
    transform: scale(110%);
}


/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */



.row_main{                                       /* MAIN */
    display: flex;
}
.col_main1{
    width: 200px;
    background-color: aqua;
    
}
.col_main2{
    width: calc(100% - 200px);
    background-color: #141922;
}
.col_main1, .col_main2{
    height: 100vh;
}
main{
    color: white;
}




.row_menu{                         /* MENU ALTO */
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 20px ;
    flex-wrap: wrap;

}
.col_menu{
    text-transform: uppercase ;
    color: rgb(135, 129, 129);
    font-size: 13px;
    text-decoration: none;
    
}
.col_menu:hover{
   color: white;
    
}
hr{
    width: 40%;
    color: greenyellow;
    margin: 0 auto;
    margin-top: 2px;
}
       


                                           
.container_main{                       /* ALBUM */

    margin-left: 15px;
    margin-right: 50px;
}
.title_main{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}            


.row_album{                       /* immagini album */
    display: flex;
    gap: 10px;
    
}
.col_album{
    width: calc(100% / 6 - 10px);
}
.img_album{
    width: 100%;
}

/* playbutton */

.container_for_playbutton{
    position: relative;
}
.playbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.container_for_playbutton:hover .playbutton{
    display: block;
}
.container_for_playbutton:hover .img_album{
    filter: opacity(40%);
}





.title_album{                      /* titoli album */
    font-weight: 800;
    font-size: 13px;
    margin-top: 10px;
}
.subtitle{
    color: #4E5157;
    margin-top: 6px;
    font-size: 10px;
}
.container_title_album{
    text-align: center;
    
}
                            

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */


footer{                                         /* FOOTER */
    background-color: #282828;
    width: 100%;
    height: 100px;
    position: sticky;
    bottom: 0;
    z-index: 3;
    
    


}


/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */


.row_nav{                                       /* NAV */
    display: flex;
    flex-direction: column;
}

.col_nav{
    background-color: black;
    width: 200px;
    height: calc(100%  - 100px);
    position: absolute;
    top: 0;
    z-index: 2;
}









/***********************************
LATO XS
********************************** */

@media screen and (max-width: 552px){       /* LA BARRA NAV RIMPICCIOLISCE */
    .col_nav, .col_main1{
        width: 50px;
    }
    .col_main2{
        width: calc(100% - 50px);
    }
    .col_album{
        width: calc(50% - 10px) ;
    }
    .row_album{
        flex-wrap: wrap;
    }
    
}

/***********************************
LATO S
********************************** */
@media screen and (min-width: 552px)and (max-width:639px) {
    .col_album{
        width: calc(50% - 10px) ;
    }
    .row_album{
        flex-wrap: wrap;
    }
    
}

/***********************************
LATO MD
********************************** */
@media screen and (min-width: 639px)and (max-width:878px){
    .col_album{
        width: calc(25% - 10px);
    }
    .row_album{
        flex-wrap: wrap;
    }

}