*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/***********************************
LAVORO DESKTOP FIRST
********************************** */
body{
    position: relative;
}


header{                                          /* HEADER */
    background-color: #080B12;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    
}

.button_upgrade{                           /* BOTTONE UPGRADE */       
    text-transform: uppercase;
    margin: 20px 20px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 10px;
    cursor: pointer;


}
.button_upgrade:hover{
    transform: scale(110%);
}


/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */



.row_main{                                       /* MAIN */
    display: flex;
}
.col_main1{
    width: 200px;
    background-color: aqua;
    
}
.col_main2{
    width: calc(100% - 200px);
    background-color: #141922;
}
.col_main1, .col_main2{
    height: 100vh;
}





.row_menu{                         /* MENU ALTO */
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 20px ;
    flex-wrap: wrap;

}
.col_menu{
    text-transform: uppercase ;
    color: rgb(135, 129, 129);
    font-size: 9px;
    text-decoration: none;
    
}
.col_menu:hover{
   color: white;
    
}
hr{
    width: 40%;
    color: greenyellow;
    margin: 0 auto;
    margin-top: 2px;
}
       
                        

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */


footer{                                         /* FOOTER */
    background-color: #282828;
    width: 100%;
    height: 100px;
    position: sticky;
    bottom: 0;
    z-index: 3;
    
    


}


/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */


.row_nav{                                       /* NAV */
    display: flex;
    flex-direction: column;
}

.col_nav{
    background-color: black;
    width: 200px;
    height: calc(100%  - 100px);
    position: absolute;
    top: 0;
    z-index: 2;
}









/***********************************
LATO XS
********************************** */

@media screen and (max-width: 400px){       /* LA BARRA NAV RIMPICCIOLISCE */
    .col_nav, .col_main1{
        width: 50px;
    }
    .col_main2{
        width: calc(100% - 50px);
    }
    
}

/***********************************
LATO S
********************************** */
@media screen and (max-width: 600px){
    

}