*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/***********************************
LAVORO DESKTOP FIRST
********************************** */
body{
    position: relative;
}


header{                                          /* HEADER */
    background-color: rgb(25, 25, 49);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */



.row_main{                                       /* MAIN */
    display: flex;
}
.col_main1{
    width: 200px;
    background-color: aqua;
    
}
.col_main2{
    width: calc(100% - 200px);
    background-color: rgb(27, 27, 65);
}
.col_main1, .col_main2{
    height: 100vh;
}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */


footer{                                         /* FOOTER */
    background-color: rgb(44, 44, 51);
    width: 100%;
    height: 100px;
    position: sticky;
    bottom: 0;
    z-index: 3;
    
    


}


/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */


.row_nav{                                       /* NAV */
    display: flex;
    flex-direction: column;
}

.col_nav{
    background-color: black;
    width: 200px;
    height: calc(100%  - 100px);
    position: absolute;
    top: 0;
    z-index: 2;
}









/***********************************
LATO XS
********************************** */

@media screen and (max-width: 400px){       /* LA BARRA NAV RIMPICCIOLISCE */
    .col_nav, .col_main1{
        width: 50px;
    }
    .col_main2{
        width: calc(100% - 50px);
    }
    
}